<!DOCTYPE html>
<html>
  <head>
    <title>Moodified App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    
  </head>

  <body>
  
  <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #48D1CC;">
    <a class="navbar-brand" href="/mood_logs">Moodified</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Users
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "All Users", users_path, :class => "dropdown-item" %>
            <%= link_to "Create A New User", new_user_path, :class => "dropdown-item" %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Moods
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "All Moods", moods_path, :class => "dropdown-item" %>
            <%= link_to "Create A New Mood", new_mood_path, :class => "dropdown-item" %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mood Logs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "All Mood Logs", mood_logs_path, :class => "dropdown-item" %>
            <%= link_to "Create A New Mood Log", new_mood_log_path, :class => "dropdown-item" %>
          </div>
        </li>

        <% if @current_user%>
          <div>
            <a href="/logout" role="button">
              <button class="btn btn-outline-secondary" type="button">Logout</button>
            </a>
         </div> 
        <% else%>
          <div>
            <a href="/login" role="button">
              <button class="btn btn-outline-secondary" type="button">Login</button>
            </a>
          </div>  
        <% end %>
       </ul>
    </div>
  </nav>

    <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <div class="p-2 m-3 bg-warning text-dark d-inline" >
          <%= error %>
        </div>
    <% end %>


  <% end %>


  <div class="container p-3"> <%= yield %></div>

  </body>
</html>
