<!DOCTYPE html>
<html>
  <head>
    <title>Moodified App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    
  </head>

  <body>

  <%= link_to "All Users", users_path %> | 
  <%= link_to "Create A New User", new_user_path %> <br>

  <%= link_to "All Moods", moods_path %> |
  <%= link_to "Create A New Mood", new_mood_path %> <br>

  <%= link_to "All Mood Logs", mood_logs_path %> |
  <%= link_to "Create A New Mood Log", new_mood_log_path %> <br>
    
    <hr>
 
  <%= yield %>

  </body>
</html>
